html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}
#main-nav {
  background-color: transparent;
}
section {
  height: 100vh;
}

#home {
  background: url("background_4.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
#my_logo {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.custom-col {
  margin-top: 25%;
}

i {
  color: orangered;
}
p {
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
.navbar-brand {
  font-weight: bold;
  font-size: 35px;
}
.nav-link {
  color: orangered;
  font-size: 18px;
  font-weight: bold ;
}

#about {
  background: url(background_4.jpg);
}
#Myprofile {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
#service {
  background: url(background_4.jpg);
}

.card-icon {
 font-size: 3rem; 
}
.block {
  height: .3rem;
  width: 6rem;
  background-color: black;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
  opacity: 0.5;
}
